.row
  .container-fluid
    .row
      .col-md-10.col-md-offset-1
        %h1.page-header Search
    .row
      .col-md-10.col-md-offset-1
        .well
          .col-md-12
            %form{action: search_results_path, method: 'get'}
              .form-group
                %label{for: 'query'} Query:
                %input.form-control{name: 'query', type: 'text'}
              %input.btn.btn-default{type: 'submit', value: 'Search'}
          .clearfix
